//-
  Copyright 2016 Ali Moghnieh
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

doctype html
block variables

mixin nav_link(href, name, icon)
  if path === undefined
    -path = "PATH UNDEFINED"
  - href = '/' + href
  if icon
    - icon = "fa fa-" + icon
  li(class="/" + path.split("/",2)[1]===href?'active':undefined): a(href=href)&attributes(attributes)
    if icon
      i(class=icon)
    | #{name}

html
  head
    if title || subtitle
      title #{title} #{subtitle} - Blur
    else
      title Blur
    include ../includes/favicon.jade
    //- Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,900' type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Voltaire:400' type='text/css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

    //- Stylesheets
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/highlight-monokai-sublime.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles

    script(src="/javascripts/highlight.pack.js")
    script.
      hljs.initHighlightingOnLoad();
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='/') Blur
        .collapse.navbar-collapse#main-navbar
          ul.nav.navbar-nav
            +nav_link('', 'Home', 'home')
            //-+nav_link('//blur.readme.io/docs', 'Documentation', 'book')
            +nav_link('guides', 'Guides', 'book')
            +nav_link('modules', 'Modules', 'wrench')
            +nav_link('examples', 'Examples', 'file-text')
            +nav_link('types', 'Types', 'gears')
          ul.nav.navbar-nav.navbar-right.nav-social
            li: a(href='https://github.com/BlurEngine'): span.fa-stack
              i.fa.fa-circle.fa-stack-1x
              i.fa.fa-github.fa-stack-1x
            li: a(href='https://twitter.com/BlurEngine'): span.fa-stack
              i.fa.fa-circle.fa-stack-1x
              i.fa.fa-twitter.fa-stack-1x
            li: a(href='https://reddit.com/r/blurengine'): span.fa-stack
              i.fa.fa-circle.fa-stack-1x
              i.fa.fa-reddit-alien.fa-stack-1x
            h2.navbar-text SITE NOT COMPLETE
    .container#page-layout
      block _content
      include ../includes/footer.jade

    script(src='/javascripts/jquery-2.1.4.min.js')
    //- Bootstrap Bill
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/javascripts/custom.js")
    block scripts

